
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald';
    font-weight: 400;
    max-zoom: 200%;
}

body {
    height: 150vh;
    width:98vw;
    background-color: rgb(28, 28, 32);
    position: absolute;
    display: flex;
    flex-direction: column;
}

.nav {
    position: fixed;
    top:0px;
    width:99.1vw;
    height: 10vh;
    background-color:rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:black
    
    
}


#nav-icon {
    font-size: 36px;
    margin-right: 5vw;
    color:rgb(185,243,139);
 
}

.logo {
    font-size: 28px;
    font-weight: 500;
    margin-left: 5vw;
}

.menu {
    position: fixed;
    width: 30vw;
    height: 25vh;
    background-color:rgb(0, 0, 0);
    left: 70vw;
    top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu-option {
    width: 30vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-decoration: none;
    font-size: 18px;
}

.menu-option:hover {
    width: 30vw;
    height: 6.25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    background-color:rgb(10, 10, 10);
    font-size: 22px;
    transition: ease 0.5s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu-option a {
    color:rgb(185,243,139);
    text-decoration: none;
}

.hide {
    display: none;
}
.show {
    display:block;
}


.title {
    margin-left: 5vw;
    font-size: 28px;
    color:rgb(185,243,139);
    text-decoration: none;
}

.logo {
    width: 38rem;
    height: 38rem,;
    margin-top: 1vh;
    margin-left: 2vw;
    font-size: 36px;
}

.box h1 {
    margin: 1vw;
    font-size: 24px;
    font-weight: 500;
}

.box p {
    font-size: 18px;
    margin: 1vw;
}

.socials {
    height: 5vh;
    min-width: 99.1vw;
    background-color:rgb(31, 31, 34);
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:whitesmoke;
    color:rgb(185,243,139);
    gap:1vw
    
}

.icon {
    text-decoration: none;
    color:rgb(185,243,139);
    font-size: 22px;
}
.socials p {
    margin-left:5vw;
    color:rgb(185,243,139);
}

.hide {
    display: none;
}

.cele {
    width: 90vw;
    height:60vh;
    display: flex;
    flex-direction: row;
}

.title-main {
    font-size: 36px;
    color:rgb(185,243,139);
    margin-top: 2vw;
    margin-left: 5vw;
}

.cel {
    width: 40vw;
    height: 12vh;
    background-color:gray;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.list {
    width: 35vw;
    height: 60vh;
    margin-left: 5vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.normal {
    font-size: 18px;
    color: rgb(34, 34, 34);
    margin-top: 15px;
    
    
}

.start {
    font-size: 22px;
    color:rgb(185,243,139);
    margin: 10px;
    font-weight: 500;
    display: flex;
    flex-direction: column;

}

.gablotte {
    width: 90vw;
    height: 90vh;
    margin-top: 5vh;
    margin-left: 5vw;
}

.controls {
    width: 90vw;
    height: 10vh;
    margin-left: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.dot{
    width: 10px;
    height: 10px;
    background-color:gray;
    border-radius: 5px;
}

.left {
    font-size: 24px;
    color: white;
}

.right {
    font-size: 24px;
    color: white;
}

.dot-selected {
    width: 12px;
    height: 12px;
    background-color:white;
    border-radius: 6px;
}

.hide {
    display: none;
}

.gablotteitem {
    transition: ease-in-out 1s;
}

.gablotteitem img {
    width: 100%;
    margin-top: 22vh;
}

.about-us {
    width: 90vw;
    height: 50vh;
    background-color: gray;
    margin-left:5vw ;
    border-radius: 10px;
    display: flex;
    flex-direction:row;
    word-wrap: break-word;
}

.about-us p {
    font-size: 22px;
    color:rgb(185,243,139);
    text-align:left;
    margin-left: 10px;
    margin-top: 10px;
}


.about-us h1 {
    margin-left:10px;
    font-weight: 600;
}


.IMG1 {
    width: 600px;
    height:350px;
    margin-left: 3.5vw;
    margin-top: 3.5vh;
    outline: solid rgb(61, 61, 61);
    border-radius: 10px;
}

.text1 {
    width: 50vw;
    word-wrap: break-word;
    
}


.icon2 {
    font-size: 45px;
    margin-left: 15px;
    
}



@media screen and (max-width: 1200px) {
    * {

        margin: 0;
        padding: 0;
        font-family: 'Oswald';
        font-weight: 400;
    }
    
    body {
        height: 150vh;
        width: 100vw;
        background-color: rgb(28, 28, 32);
        position: absolute;
        display: flex;
        flex-direction: column;
    }
    
    .nav {
        position: fixed;
        top:0px;
        width:100vw;
        height: 10vh;
        background-color:rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: space-between;
        color:black
        
        
    }
    
    
    #nav-icon {
        font-size: 36px;
        margin-right: 5vw;
        color:rgb(185,243,139);
     
    }
    
    .logo {
        font-size: 22px;
        font-weight: 500;
        margin-left: 5vw;
    }
    
    .menu {
        position: fixed;
        width: 30vw;
        height: 25vh;
        background-color:rgb(0, 0, 0);
        right: 0vw;
        top: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .menu-option {
        width: 30vw;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color:white;
        text-decoration: none;
        font-size: 18px;
    }
    
    .menu-option:hover {
        width: 30vw;
        height: 6.25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        background-color:rgb(10, 10, 10);
        font-size: 22px;
        transition: ease 0.5s;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .menu-option a {
        color:rgb(185,243,139);
        text-decoration: none;
    }
    
    .hide {
        display: none;
    }

    .title {
        margin-left: 5vw;
        font-size: 22px;
        color:rgb(185,243,139);
        text-decoration: none;
    }
    
    .logo {
        width: 90vw;
        height:90vw,;
        margin-top: 1vh;
        margin-left: 5vw;
        font-size: 36px;
    }
    
    .box h1 {
        margin: 1vw;
        font-size: 24px;
        font-weight: 500;
    }
    
    .box p {
        font-size: 18px;
        margin: 1vw;
    }
    
    .socials {
        height: 5vh;
        width: 100vw;
        background-color:rgb(31, 31, 34);
        margin-top: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color:rgb(185,243,139);
        gap:1vw
        
    }
    
    .icon {
        text-decoration: none;
        color:rgb(185,243,139);
        font-size: 18px;
    }
    .socials p {
        font-size: 14px;
        margin-left:5vw;
        color:rgb(185,243,139);
    }
    
    .hide {
        display: none;
    }
    
    .cele {
        width:180vh;
        height:60vw;
        display: flex;
        flex-direction: column;
    }
    
    .title-main {
        font-size: 32px;
        color:rgb(185,243,139);
        margin-top: 2vw;
        margin-right: 100px;

    }
    
    .cel {
        width: 90vw;
        height: 12vh;
        background-color:gray;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        margin-left: 0vw;
    }
    
    .list {
        width: 35vw;
        height: 60vh;
        margin-left: 5vw;
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .normal {
        font-size: 12px;
        color: rgb(34, 34, 34);
        margin-top: 16px;
        
        
    }
    
    .start {
        font-size: 22px;
        color:rgb(185,243,139);
        margin: 10px;
        font-weight: 500;
    
    }
    
    .gablotte {
        width: 90vw;
        height: 50vh;
        margin-left: 5vw;
        margin-top: 0vh;
    }
    
    .controls {
        width: 90vw;
        height: 10vh;
        margin-left: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    
    .dot{
        width: 10px;
        height: 10px;
        background-color:gray;
        border-radius: 5px;
    }
    
    .left {
        font-size: 24px;
        color: white;
    }
    
    .right {
        font-size: 24px;
        color: white;
    }
    
    .dot-selected {
        width: 12px;
        height: 12px;
        background-color:white;
        border-radius: 6px;
    }
    
    .hide {
        display: none;
    }
    
    
    .gablotteitem img {
        width: 90vw;
        margin-top: 22vh;
    }
    
    .about-us {
        
        width: 90vw;
        height: 50vh;
        background-color: gray;
        margin-left:5vw ;
        border-radius: 10px;
        display: flex;
        flex-direction:column;
        margin-top: 85vh;
    }
    
    .about-us p {
        font-size: 12px;
        color:rgb(185,243,139);
        margin: 10px;
    
    }
    
    
    .about-us h1 {
        margin-left:10px;
        font-weight: 600;
    }
    
    
    .IMG1 {
       
        visibility: hidden;
        margin-top: -10vh;
        width:100px;
        height:100px;
        margin-left:10px;
        outline: solid rgb(185,243,139);
        border-radius: 10px;
    }

    .text1 {
        width: 90vw;
        height: 50vh;
    }
    
    .icon2 {
        font-size: 40px;
        margin-left: 15px;
        
    }


  }